<%= form_for @team do |t| %>
	<h3>Team Avatar :</h3>
	<%= t.file_field :file %>
	<h3>Team Name :</h3>
	<%= t.text_field :name, class: "text-field" %>
	<h3>Team Description :</h3>
	<%= t.text_area :description, class: "text-field", style: "height:130px;" %><br><br>
	<%= t.submit "Create Team", class: "btn btn-warning edit-button" %>
<% end %>
