<%= form_for :session, url: session_path do |form| %>

  <div class="form-group">
    <%= form.label :email, :class => 'control-label' %>
      <%= form.text_field :email, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password, :class => 'control-label' %>
      <%= form.password_field :password, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= link_to t(".forgot_your_password"), new_password_path %>
   </div>

  <div class="form-group checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>

  <div class="form-group">
    <%= form.submit :class => 'btn btn-danger form-control' %>
  </div>
<% end %>

<table style="width:100%">
  <tr><td style="text-align:center"><a href="/auth/facebook"><%=image_tag("https://s3-ap-southeast-1.amazonaws.com/sportsjoe/fb-login.png", style: "width:200px; cursor:pointer")%></a></td></tr>
</table>
