<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well" id="sign-in-up">
          <div class="form-group">
          <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/sportsjoe/logo.png", class: "form-logo") %>
          </div>
          <div id="clearance" class="sign-up">
          <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="form-group">
          <%= form.submit :class => 'btn btn-danger form-control' %>
          </div>

          <table style="width:100%">
            <tr><td style="text-align:center"><a href="/auth/facebook"><%=image_tag("https://s3-ap-southeast-1.amazonaws.com/sportsjoe/fb-login.png", style: "width:200px; cursor:pointer")%></a></td></tr>
          </table>

          <div class="form-group">
          <p><small>By creating an account, I accept SportsJOE's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></small></p>
          </div>

          <div class="form-group">
          <p><a href="#">Never got an activation link?</a></p>
          </div>
          </div>
        <% end %>
      </div>
          <div class="other-links">
          <p>Already have an account? <%= link_to "LOG IN", sign_in_path %></p>
          </div>
          <br></br>
    </div>
  </div>
</div>
