<div class="container user-show">
	<div class="row">
		<h2>My Profile</h2>
		<hr class="line-seperate">

		<div class="col-md-5">
			<div class="well well-md profile-well">
				<table style="width:100%">

					<tr>
						<td colspan="2" style="text-align:center"><% unless @user.avatar.file.nil? %>
							<img src=<%= @user.avatar.url%> style="height: 50px; width: 50px"><br>
							<% end %></td>
					</tr>

					<tr>
						<td colspan="2" style="text-align:center"><%=@user.name%></td>
					</tr>

					<tr>
						<td colspan="2" style="text-align:center"><%=@user.email%></td>
					</tr>

					<tr>
						<td><%= link_to "Edit Profile", edit_user_path(@user), class: "lighter-link"%></td>
						<td style="text-align:right"><%= link_to "Delete Account",user_path(@user), method: :delete, data: { confirm: "Are you sure??" }, class: "lighter-link"%></td>
					</tr>

				</table>
			</div>

			<h4 class="profile-title" style="margin-top: 20px;">Pending approvals :</h4>
			<div class="well well-md profile-well">
				<% if UserTeamApproval.where(user_id: @user.id) %>
					<% UserTeamApproval.where(user_id: @user.id).each do |approval| %>
						<%= link_to Team.find(approval.team_id).name, team_path(approval.team_id) %>
					<% end %>
				<% else %>
					 <h5 class="well-content">No pending approvals.</h5>
				<% end %>
			</div>

			<table class="profile-title"><tr><td>
				<h4>Teams :</h4></td>
				<td class="right-text"><%= link_to "List of teams", teams_path, class: "lighter-link" %></td></tr></table>
			<div class="well well-md profile-well">
				<% if @user.teams.count != 0 %>
					<% @user.teams.each do |team| %>
						<%= team.name %><br>
					<% end %>
				<% else%>
					<h5 class="well-content">You are not a part of any Teams at the moment.</h5>
				<% end %>
			</div>

			<table class="profile-title"><tr><td>
				<h4>Team Leader Of :</h4></td>
				<td class="right-text"><%= link_to "Create a team", new_team_path, class: "lighter-link" %></td></tr></table>
			<div class="well well-md profile-well">
				<% @teams = Team.where(user_id: @user.id) %>
				<% if @teams.count != 0 %>
					<% @teams.each do |team| %>
						<%= link_to team.name, team_path(team) %><br>
					<% end %>
				<% else %>
					<h5 class="well-content">You are not the Team Leader of any Teams at the moment.</h5>
				<% end %>
			</div>

		</div>
		<div class="col-md-7">

			<h4 style="margin-top:0">My Tournaments :</h4>
			<div class="well well-md profile-well">

			</div>

		</div>
	</div>
</div>
=======
<% unless @user.avatar.file.nil? %>
	<img src=<%= @user.avatar.url %> style="height: 50px; width: 50px;"><br>
<% end %>
<%= @user.id %><br>
<%= @user.email %><br>
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.name %><br>
<h1>Pending approvals</h1>
<% if UserTeamApproval.where(user_id: @user.id) %>
	<% UserTeamApproval.where(user_id: @user.id).each do |approval| %>
		<%= link_to Team.find(approval.team_id).name, team_path(approval.team_id) %>
	<% end %>
<% else %>
	No approval pending
<% end %>
<h1>Teams</h1>
<% if @user.teams.count != 0 %>
	<% @user.teams.each do |team| %>
		<%= team.name %><br>
	<% end %>
<% end %>
<h1>Admin of:</h1>
<% @teams = Team.where(user_id: @user.id) %>
<% if @teams.count != 0 %>
	<% @teams.each do |team| %>
		<%= link_to team.name, team_path(team) %><br>
	<% end %>
<% end %>

Pis In The Bucket



<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Create a team", new_team_path %>
<%= link_to "List of teams", teams_path %><br>
<%= link_to "Log out", sign_out_path, method: :delete %><br><br>
<%= link_to "Delete Account",user_path(@user), method: :delete, data: { confirm: "Are you sure??" } %>
