<div class="container user-show">
	<div class="row">
		<h2>My Profile</h2>
		<hr class="line-seperate">

		<div class="col-md-5">
			<div class="well well-md profile-well">
				<table class="full-width">

					<tr>
						<td colspan="2" style="text-align:center; padding-bottom:15px; padding-top:10px"><% if @user.avatar.file.nil? %>
							<%=image_tag("no_avatar.jpg", style: "height: 100px; width: 100px; border-radius:50%")%>
							<%else%>
							<img src=<%= @user.avatar.url%> style="height: 100px; width: 100px; border-radius:50%">
							<% end %></td>
					</tr>

					<tr>
						<td class="team-leader" colspan="2" style="text-align:center; font-weight:400"><%=@user.name%></td>
					</tr>

					<tr>
						<td class="team-leader"  colspan="2" style="text-align:center ;padding-bottom:25px"><%=@user.email%></td>
					</tr>

					<tr>
						<td><%= link_to "Edit Profile", edit_user_path(@user), class: "lighter-link"%></td>
						<td style="text-align:right"><%= link_to "Delete Account",user_path(@user), method: :delete, data: { confirm: "Are you sure??" }, class: "lighter-link"%></td>
					</tr>

				</table>
			</div>

			<h4 class="profile-title" style="margin-top: 20px;">Pending approvals :</h4>
			<div class="well well-md profile-well">
				<% if UserTeamApproval.where(user_id: @user.id) %>
					<table>
						<% UserTeamApproval.where(user_id: @user.id).each do |approval| %>
						<tr>
							<td><%= link_to Team.find(approval.team_id).name, team_path(approval.team_id), class: "team-join", style: "font-size: 18px" %></td>
						</tr>
						<%end%>
					</table>
				<% else %>
					 <h5 class="well-content">No pending approvals.</h5>
				<% end %>
			</div>

			<table class="profile-title"><tr><td>
				<h4>Teams :</h4></td>
				<td class="right-text"><%= link_to "List of teams", teams_path, class: "lighter-link" %></td></tr></table>
			<div class="well well-md profile-well">
				<% if @user.teams.count != 0 %>
					<% @user.teams.each do |team| %>
						<em><%=link_to team.name, team_path(team.id), class: "team-name", style: "font-size:29px" %></em>
					<% end %>
				<% else%>
					<h5 class="well-content">You are not a part of any Teams at the moment.</h5>
				<% end %>
			</div>

			<table class="profile-title"><tr><td>
				<h4>Team Leader Of :</h4></td>
				<td class="right-text"><%= link_to "Create a team", new_team_path, class: "lighter-link" %></td></tr></table>
			<div class="well well-md profile-well">
				<% @teams = Team.where(user_id: @user.id) %>
				<% if @teams.count != 0 %>
					<% @teams.each do |team| %>
						<em><%= link_to team.name, team_path(team), class: "team-name", style: "font-size:32px" %></em><br>
					<% end %>
				<% else %>
					<h5 class="well-content">You are not the Team Leader of any Teams at the moment.</h5>
				<% end %>
			</div>

		</div>
		<div class="col-md-7">

			<h4 style="margin-top:0">My Tournaments :</h4>
			<div class="well well-md profile-well">

			</div>

		</div>
	</div>
</div>
<div style="height:50px"></div>
