<%= @user.email %><br>
<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.name %><br>
<h1>Pending approvals</h1>
<% if UserTeamApproval.where(user_id: @user.id) %>
	<% UserTeamApproval.where(user_id: @user.id).each do |approval| %>
		<%= link_to Team.find(approval.team_id).name, team_path(approval.team_id) %>
	<% end %>
<% else %>
	No approval pending
<% end %>
<h1>Teams</h1>
<% if @user.teams.count != 0 %>
	<% @user.teams.each do |team| %>
		<%= team.name %><br>
	<% end %>
<% end %>
<h1>Admin of:</h1>
<% @teams = Team.where(user_id: @user.id) %>
<% if @teams.count != 0 %>
	<% @teams.each do |team| %>
		<%= link_to team.name, team_path(team) %><br>
	<% end %>
<% end %>
<%= link_to "List of teams", teams_path %><br>
<%= link_to "Log out", sign_out_path, method: :delete %><br><br>
<%= link_to "Delete Account",user_path(@user), method: :delete, data: { confirm: "Are you sure??" } %>