

<!-- ["id", "location", "start_date", "end_date", "type", "winning_team_id", "title", "description", "rules", "fee", "sport", "admin_id", "created_at", "updated_at","num_teams", "num_players"]
 -->

<%= form_for @tournament do |f| %>
	<% if @tournament.errors.any? %>
		<div id= "error_div">
		<h2><%= pluralize(@tournament.errors.count, "error")%> prohibited us from creating your tournament:</h2>
		<ul> <% @tournament.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
			<% end%>
		</ul>
		</div>
	<% end %>

	<div class="form-group" id="new-tour-form">
    <h3><%= f.label "Your Tournament Name", :class => 'control-label' %></h3>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

	<div class="form-group" id="new-tour-form">
	<div class="row">
	<div class="col-sm-2"><p><%= f.label :sport, class: 'control-label' %></p></div>
	<div class="col-sm-4"><%= f.select :sport, options_for_select(["Football", "Futsal", "Basketball","Badminton", "Tennis", "Table Tennis", "Volleyball", "Squash", "Bowling", "Field Hockey", "Floorball"]), {}, :class => "form-control" %></div>
	<div class="col-sm-2"><p><%= f.label :category, class: 'control-label' %></p></div>
	<div class="col-sm-4"><%= f.select :category, options_for_select(["Group & Knockout", "Knockout", "League"]), {}, :class => "form-control" %></div>
    </div>
    </div>

	<div class="form-group" id="new-tour-form">
	<div class="row">
	<div class="col-sm-2"><p><%= f.label :location, class: 'control-label' %></p></div>
	<div class="col-sm-4"><%= f.text_field :location, class: 'form-control' %></div>
	<div class="col-sm-2"><p><%= f.label :entry_fee, class: 'control-label' %></p></div>
	<div class="col-sm-2"><%= f.text_field :fee, class: 'form-control' %></div>
    </div>
    </div>

    <div class="form-group" id="new-tour-form">
    <div class="row">
    <div class="col-sm-2"><p><%= f.label :no_of_teams, class: 'control-label' %></p></div>
    <div class="col-sm-2"><%= f.text_field :num_teams, class: 'form-control' %></div>
    <div class="col-sm-3 col-sm-offset-1"><p><%= f.label :players_per_team, class: 'control-label' %></p></div>
    <div class="col-sm-2"><%= f.text_field :num_players, class: 'form-control' %></div>
    </div>
    </div>

    <div class="form-group" id="new-tour-form">
    <div class="row">
    <div class="col-sm-2"><p><%= f.label :start_date %></p></div>
    <div class="col-sm-4" style='display: inline; position: relative;'>
        <%= f.text_field :start_date , id: "datetimepicker1", class: "form-control" %>
    </div>
    <div class="col-sm-2"><p><%= f.label :end_date %></p></div>
    <div class="col-sm-4" style='display: inline; position: relative;'>
        <%= f.text_field :start_date , id: "datetimepicker2", class: "form-control" %>
    </div>
    </div>
    </div>

	<div class="form-group" id="new-tour-form">
		<p><%= f.label "Tournament Avatar :", :class => 'control-label' %></p>
			<%= f.file_field :file %>
		</div>

	<div class="form-group" id="new-tour-form">
    <p><%= f.label :description, :class => 'control-label' %></p>
      <%= f.text_area :description, :class => 'form-control', :rows =>'4' %>
    </div>

	<div class="form-group" id="new-tour-form">
    <p><%= f.label :rules, :class => 'control-label' %></p>
      <%= f.text_area :rules, :class => 'form-control', :rows =>'4' %>
    </div>

	<%=f.hidden_field :user_id, value: current_user.id%>
    <div class="form-group" id="new-tour-form">
    <%= f.submit :class => 'btn btn-danger form-control' %>
    </div>
<% end %>
