

<!-- ["id", "location", "start_date", "end_date", "type", "winning_team_id", "title", "description", "rules", "fee", "sport", "admin_id", "created_at", "updated_at","num_teams", "num_players"]
 -->

<%= form_for @tournament do |f| %>
	<% if @tournament.errors.any? %>
		<div id= "error_div">
		<h2><%= pluralize(@tournament.errors.count, "error")%> prohibited us from creating your tournament:</h2>
		<ul> <% @tournament.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
			<% end%>
		</ul>
		</div>
	<% end %>
<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :sport %><br>
	<%= f.text_field :sport %>
</p>
<p>
	<%= f.label :category %><br>
	<%= f.text_field :category %>
</p>
<p>
	<%= f.label :location%><br>
	<%= f.text_area :location%>
</p>
<p>
	<%= f.label :description%><br>
	<%= f.text_area :description%>
</p>
<p>
	<%=f.label :start_date%><br>
	<%= f.date_field :start_date %>
</p>
<p>
	<%=f.label :end_date%><br>
	<%= f.date_field :end_date %>
</p>
<p>
	<%= f.label :num_teams, "Number of Teams" %><br>
	<%= f.text_field :num_teams %>
</p>
<p>
	<%= f.label :num_players, "Number of Players" %><br>
	<%= f.text_field :num_players %>
</p>
<p>
	<%= f.label :rules%><br>
	<%= f.text_area :rules%>
</p>
<p>
	<%= f.label :fee %><br>
	<%= f.text_field :fee %>
</p>
	<%=f.hidden_field :user_id, value: current_user.id%> 
<p>
	<%= f.submit %>
</p>
<% end %>