<div class="container">
  <h1 class="title">Upcoming Tournaments</h1>
  <hr style="border:1px solid grey">
	<div class="row">
	 <!-- loop each tournament at this column -->
	 	<% @tournaments.each do |tournament| %>
		<div class="col-md-4">
			<div class="well" id="tournament-index" style="border-radius: 15px;">
				<%= link_to image_tag(tournament.avatar, class: "img-responsive"), tournament_path(tournament) %>
				<h4><%= tournament.title %></h4>
				<hr>
				<div class="row">
					<div class="col-sm-3"><h5><strong>Location:</strong></h5></div>
					<div class="col-sm-9"><h5><%= tournament.location %></h5></div>
				</div>
				<div class="row">
					<div class="col-sm-3"><h5><strong>Date:</strong></h5></div>
<<<<<<< HEAD
					<div class="col-sm-9"><h6><%= tournament.start_date.strftime( '%d-%m-%Y') %></h6></div>
=======
					<div class="col-sm-9"><h6><%= Date.strptime(tournament.start_date, '%d %B %Y') %></h6></div>
>>>>>>> master
				</div>
			</div>
		</div>
		<% end %>
	</div>

  </div>
	<br></br>
</div>
