<%if @tournament.user_id==current_user.id%>
    <p><strong>Admin's Section:</strong></p>
    <%= link_to 'Edit This Tournament', edit_tournament_path(@tournament)%>|||
        <%= link_to 'Delete This Tournament', tournament_path(@tournament), method: :delete, data: {confirm: "Sure?"}  %>

    <%@tournament.teams.each do |team|%>
    Team Name:<%=team.name%><br>
    Admin ID: <%=team.id%><br>
    Approval: 
        <% if TournamentTeamApprov.find_by_team_id_and_tournament_id(team.id,@tournament.id).approval%>
        <%="Approved,  "%>
        <%=link_to "DISAPPROVE!",approve_team_tournament_path(team_id: team.id,tournament_id:@tournament.id,approval:false), method: :post %>
        <!-- link_to "Profile", profile_path(@profile.id, param1: 'value1', param2: 'value2'), method: :post -->

        <%else%>
        <%="Pending!  "%>
        <%=link_to "APPROVE!",approve_team_tournament_path(team_id: team.id,tournament_id:@tournament.id,approval:true), method: :post %>
        <%end%><br>

    Payment Status: 
 <% if TournamentTeamApprov.find_by_team_id_and_tournament_id(team.id,@tournament.id).payment_status%>
        <%="Paid"%>
        <%else%>
        <%="Not paid!"%>
        <%end%><br>
<br><br>
    <%end%>
<%end%>


    <p><strong>Team's Section:</strong></p>
<% if @team %>
     <% if TournamentTeamApprov.find_by_team_id_and_tournament_id(@team.id,@tournament.id)%>
       Approval Status: 
            <% if TournamentTeamApprov.find_by_team_id_and_tournament_id(@team.id,@tournament.id).approval%>
            <%="Approved"%>
            <%else%>
            <%="Pending!"%>
            <%end%><br>

        Payment Status: 
     <% if TournamentTeamApprov.find_by_team_id_and_tournament_id(@team.id,@tournament.id).payment_status%>
            <%="Paid"%>
            <%else%>
            <%="Not paid!"%>
            <%end%><br>



    <%else%>
    <%=link_to "JOIN THIS TOURNAMENT!",join_tournament_path%>
    <%end%>

<%else%>
<%="Create A TEAM FIRST!"%>

<%end%>
<div class="container">
    <h2><%= @tournament.title %></h2>
    <hr>
    <div class="row">
        <div class="col-md-7">
        <%= image_tag("football_action.jpg", class: "img-responsive", style: "width:700px; height:400px; border-radius:10%;") %>
        </div>
        		<div class="col-md-5">
                    <div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="color: white;">Overview</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="color: white;">Description</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="color: white;">Participants</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" style="color: white;">Bracket</a></li>
                        </ul>

                            <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>Location:</strong></h4></div>
                            <div class="col-sm-5"><h4><%= @tournament.location %></h4></div>
                            </div>
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>Start Date:</strong></h4></div>
                            <div class="col-sm-5"><h4><%= @tournament.start_date.strftime('%d %B %Y') %></h4></div>
                            </div>
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>End Date:</strong></h4></div>
                            <div class="col-sm-5"><h4><%= @tournament.end_date.strftime('%d %B %Y') %></h4></div>
                            </div>
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>Sport:</strong></h4></div>
                            <div class="col-sm-5"><h4><%= @tournament.sport %></h4></div>
                            </div>
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>Category:</strong></h4></div>
                            <div class="col-sm-5"><h4><%= @tournament.category %></h4></div>
                            </div>
                            <div class="row">
                            <div class="col-sm-4"><h4><strong>Entry Fee:</strong></h4></div>
                            <div class="col-sm-5"><h4>RM<%= @tournament.fee %></h4></div>
                            </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                            <h4><small style="color:white;"><%= @tournament.description %></small></h4>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                            <h4><small style="color:white;">No participants yet</small></h4>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                            <h4><small style="color:white;">The brackets are generated 1 day before tournament begins.</small></h4>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
</div>