  <div class="landing_video">
    <video class="landing_video" muted autoplay loop >
    <source src="group_vid.mp4" type="video/mp4">
    </video>
  </div>

  <table class="vid_content">
    <tr>
      <td class="table-space"></td>

      <td><image class="logo" src="https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/logo_eaac63aa7a65049d5eb2b0751af732c9.png"><h1 class="title">JOIN.ORGANIZE.EARN</h1>
        <div class="line middle"></div>
        <h3 class="title-caption">Compete, Organize and Earn from Tournaments.</h3>
        <% if current_user%>
        <%=link_to 'Join Us', tournaments_path, class: "btn btn-warning title-button middle"%>
        <%else%>
        <%=link_to 'Join Us', sign_up_path, class: "btn btn-warning title-button middle"%>
        <%end%>

      <td class="log-in-btn">
        <% if current_user%>
        <%=link_to 'Log In', tournaments_path, class: "btn btn-warning log-in"%>
        <%else%>
        <%=link_to 'Log In', sign_in_path, class: "btn btn-warning log-in"%>
        <%end%>
      </td>
    </tr>
  </table>

<div class="container landing_container">
  <div class="row">
    <div class="col-md-12">

  <div class="container section">
      <div class="row">

          <div class="col-md-7">
            <h1 class="section-title">
            Compete</h1>
            <div class="line"></div>
            <h4 style="color:white; width:600px; margin-bottom:20px">
              Compete in any of the upcoming tournaments to get your share of adrenaline and experience. Meet players just like you! Improve on the foundation that's sole purpose is unity, the act of Sport.
            </h4>
            <%=link_to 'JOIN A TOURNAMENT', tournaments_path, class: "btn btn-warning section-button"%>
          </div>

          <div class="col-md-5">
            <img class="section-image-right" src="https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/basketball_fad911371b148b63d258049bc3dab73f.jpg">
          </div>

      </div>
    </div>

  <div class="container section">
    <div class="row">

      <div class="col-md-5">
        <img class="section-image-left" src="https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/football_562213a45fca2bf2b1ff08de1184132a.png">
      </div>
      <div class="col-md-7">
        <h1 class="section-title">
          Connect</h1>
          <div class="line"></div>
        <h4 style="color:white; width:600px; margin-bottom:20px">
            Connect with like-minded players from all across Malaysia. Branch out to find stepping stones in your journey of mastering the sport of your choice.
        </h4>
        <%=link_to 'MAKE A TEAM', new_team_path, class: "btn btn-warning section-button"%>
      </div>

      </div>
    </div>

    <div class="container section">
      <div class="row">

        <div class="col-md-12">
          <h1 class="section-title-middle">Host a Tournament</h1>
          <div class="line middle" style="width:500px;">
          </div>
        </div>
      </div>

      <div class="row" style="padding-top:30px">
        <div class="col-md-3">
            <%= image_tag 'https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/DgDejM8W/pagespeed/search-4f24540a720b595b6d77ad80008512fea719fdcca08_f28d91e48aa163684a9c91545c7ba7b5.png', class: 'icon-image center-block' %>
            <h4 class="landing-caption">Search</h4>
        </div>
        <div class="col-md-3">
            <%= image_tag 'https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/DgDejM8W/pagespeed/team-08be1c785f05425e7f4a6f7520309785945b4217be0d1_ea0f4ee14a85a9bd8bbadff3042e1974.png', class: 'icon-image center-block' %>
            <h4 class="landing-caption">Team</h4>
        </div>
        <div class="col-md-3">
            <%= image_tag 'https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/DgDejM8W/pagespeed/handshake-08e5e7d765b71130100004f3fb70e01f54aefde8_80de77b4cd89b843ec84813b7e8d055e.png', class: 'icon-image center-block' %>
            <h4 class="landing-caption">Meet</h4>
        </div>
        <div class="col-md-3">
            <%= image_tag 'https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/cup_cc29b87ae966ba9b1a487360e6e2693d.png' %>
            <h4 class="landing-caption">Win</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <%=link_to 'Host a Tournament', new_tournament_path, class: "btn btn-warning center-block icon-button"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
