<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well">
          <div class="form-group">
          <%= image_tag("https://gtmetrix.com/reports/intense-bastion-64089.herokuapp.com/eHGvBJ3R/pagespeed/logo_eaac63aa7a65049d5eb2b0751af732c9.png") %>
          </div>
          <div id="clearance" class="password-reset">
          <div class="form-group">
            <h2><%= t(".title") %></h2>
          </div>
          <div class="form-group"><hr></div>
          <div class="form-group">
          <p><%= t(".description") %></p>
          </div>
            <%= form_for :password, url: passwords_path do |form| %>
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, :class => "form-control" %>
              </div>

              <div class="form-group">
              <%= button_tag(type: 'submit', class: "btn btn-danger form-control") do %>
               <i class="icon-ok icon-white"></i> Request Reset Link
              <% end %>
              </div>
            <% end %>
          </div>

      </div>
          <div class="other-links">
          <h5><%= link_to "BACK", sign_in_path %></h5>
          </div>
          <br></br>
          <br></br>
    </div>
  </div>
</div>
